<% include /header %>

<div class="container show">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3 id="header">MOVIE QUEUE</h3>
    </div>
  </div>
</div>

<% if (typeof msg === "string") { %>
<div class="added text-center">
		<%= msg %>
</div>
<% } %>


<% for (var i = 0; i < dataArray.length; i++) { %>
<div class="container search deleteFavoriteWrapper">
 	<div class="row">
		<div class="col-xs-1 col-md-1 text-center" id="count1">
			<img src="http://i.imgur.com/Y6hUaf6.png" height="35" width="49">
		</div>
		<div class="col-xs-1 col-md-1 text-center" id="count2">
			<h3 id="header"><%= i + 1 %> </h3>
		</div>
		<div class="col-xs-8 col-md-8 text-center" id="count3">
			<h3><a href="/<%= dataArray[i].imbd_code %>"><%= dataArray[i].title %></a></h3> (<%= dataArray[i].year %>)
		</div>
		<div class="col-xs-2 col-md-2 text-center" id="count4">
              <a href="#" data-id="<%= dataArray[i].id %>" class="button deleteFavorite">x remove</a>
              <br><br>
              <a href="/watchlist/<%= dataArray[i].id %>/comments" type="submit" data-id="<%= dataArray[i].id %>" id="submit" >+ comment</a>
		</div>
		<br>
	</div>
</div>
	<% } %>


<% include /footer %>

